.jumbotron{
	background-color: #84E1FF;
}

h1 {
	font-family: 'Poiret One', cursive;
	text-align: center;
	font-weight: bold;
}

#ripple {
	width: 9%;
	height: 9%;
}

 #stellar {
 	width: 10%;
	height: 14%;
}

 #etherum{
	width: 5%;
	height: 3%;
}

 #neo{
	width: 8%;
	height: 8%;
	margin-left: 2%;
}

.thumbnail {
	background-color: #E8EFF1;
	border-color: #868686;
}

h3 {
	font-family: 'Josefin Slab', serif;
	text-align: center;
	font-weight: bold;
}

p {
	text-align: center;
	font-weight: bold;
}

.footer {
    font-family: 'Josefin Slab', serif;
    color: black; 
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #84E1FF;
    text-align: center;
}