body {
    background-color: #E8EFF1;
}

.jumbotron {
  background-image: url("../assets/images/back1.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 1.5%;
  margin-top: 0px;
  font-size: 1em;
  height: 200%;

}

.jumbotron h1 {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	color: white;
	text-shadow: 3px 3px #000;

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 4em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .jumbotron h1r {
        font-size: 6em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 8em;
    }
}

h3 {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-weight: bold;
  padding: 0px;
}

p {
	font-size: 25px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	
}
p:hover{
	font-size: 45px;
}

.row {
  margin-right: 0%;
  margin-left: 0%;
}

.thumbnail {
	background-color: #E8EFF1;
	border-color: black;
    border-radius: 5%;
    border-width: 2px;
    padding: 0px;
    width: 100%;
    margin-bottom: 3%;
}

.thumbnail:hover {
	background-color: #D1D4D6;
	border-color: #FFBD52;
	border-width: 2px;
}

.caption {
}

.footer {
    font-family: 'Quicksand', sans-serif;
    color: white; 
    font-size: 16px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #1F7CA2;
    text-align: center;
    margin-top: 2%;
    padding: 0px;
}
